{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-4" >
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Comment Analysis</h5>
                    <a href="https://huggingface.co/spaces/Sumedhc/rppoop_comment_analysis" class="btn btn-primary">Go to Card 1</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Monologue Generator</h5>
                    <a href="https://huggingface.co/spaces/Sumedhc/Monologue_generator" class="btn btn-primary">Go to Card 2</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Script reader</h5>
                    <a href="https://huggingface.co/spaces/Sumedhc/rppoop_script_reader" class="btn btn-primary">Go to Card 3</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
